{% block form_row %}
    {% spaceless %}
        <div class="form-group row">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            <div class="col-sm-10">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}